[submodule "littlefs"]
	path = littlefs
	url = git@github.com:littlefs-project/littlefs.git
[submodule "h3lis100dl-pid"]
	path = h3lis100dl-pid
	url = git@github.com:STMicroelectronics/h3lis100dl-pid.git
